.anchor-span{
    display: flex;
    margin-top: 1rem;
    justify-content: end;
    padding: 0 2rem;
}
.logout-btn{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 6px;
    font-size: large;
    font-family: verdana;
    transition: all 0.3s ease;

}
.logout-btn:hover{
    background-color: white;
    color: black;
}

.admin-panel-h{
    color: white;
    text-align: center;
    padding: 0 1rem 0 1rem;
    font-size: 3rem;
    font-family: verdana;

}
/* ================ Admin Panel Section =============== */
.admin-panel-sec{
    /* display: flex; */
    justify-self: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #eddb3a, #06b6d4);
    margin: 3rem 0;
    border-radius: 7px;
    padding: 2rem 4rem;
}
.admin-panel-sec h3{
    text-align: center;
    font-family: verdana;
}
.admin-opt-container{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}
.admin-opt-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.admin-opt-right{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.admin-opt{
    color: black;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 7px;
    font-family: verdana;
    transition: all 0.3s ease;

}
.admin-opt:hover{
    background-color: white;
    color: black;
}
