.contact-page-h4{
    color: white;
    text-align: center;
    padding: 3rem 1rem 0 1rem;
    font-size: large;
    font-family: verdana;
}
.contact-form-container{
    display: flex;
    justify-self: center;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.763);
    padding: 2rem 4rem;
    border-radius: 7px;
    margin: 2rem 0;
    background: linear-gradient(135deg, #7c3aed, #06b6d4);
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-items: center; */
}
.contact-form input{
  padding: 12px;
  width: 22rem;
  border: none;
  border-radius: 7px;
  background-color: black;
  color: white;
  font-family: verdana;
  display: flex;
  justify-self: center;
  
}
/* .contact-form input:focus{
    outline: 3px solid #59316b;
}
.contact-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset !important;
    -webkit-text-fill-color: white !important;
    font-family: verdana;
} */
.contact-form input::placeholder{
    color: rgba(255, 255, 255, 0.719);
    font-family: verdana;
}
.contact-form textarea {
  min-height: 120px;
  resize: vertical;
  background-color: black;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 12px;
  font-size: large;
  width: 22rem;

}
.contact-form textarea::placeholder{
    color: rgba(255, 255, 255, 0.719);
    font-family: verdana;
    font-size: 15px;
}
.contact-form-btn{
    /* display: inline; */
    width: min-content;
    padding: 12px 20px;
    border-radius: 7px;
    border: none;
    background-color: #FFBF00;
    color: black;
    font-family: verdana;
    font-weight: bolder;

}
.contact-form-btn:hover{
    cursor: pointer;
}
/* ============================================= */
@media ( max-width: 495px) {
    .contact-page-h4{
        padding: 8rem 1rem 0 1rem;
        text-align: left;
    }
    .contact-form-container{
        padding: 2rem 1rem;
    }
}