{% extends "base.html" %}
{% block content %}
<section class="about-page">
    <div class="about-page-he-cont">
        <h1>About</h1>
        <h1>ClariZen Studio</h1>
    </div>
    <div class="about-page-desc">
        <p>ClariZen Studio is a creative design and development agency dedicated to helping brands stand out with unique and impactful visuals. We bring your ideas to life with creativity, innovation, and precision. Whether you’re a startup or an established business, we provide design and development services that help you grow, connect, and leave a lasting impression. Our Customers have made a significant enhancement with our remarkable services.</p>
    </div>
</section>
{% endblock %}
