{% extends "base.html" %}
{% block content %}
<span class="anchor-span"><a href="/logout" class="logout-btn">Logout</a></span>
<h3 class="admin-panel-h">Admin Panel</h3>
<!-- ADMIN PANEL SECTION -->
 <section class="admin-panel-sec">
  <h3>Choose the option to Manage</h3>
    <div class="admin-opt-container">
        <div class="admin-opt-left">
          <a href="/admin/projects" class="admin-opt">Manage Projects</a>
           <a href="/admin/samples" class="admin-opt">Manage Samples</a>
        </div>
        <div class="admin-opt-right">
          <a href="/admin/messages" class="admin-opt">Admin Message Box</a>
           <a href="/admin/credentials" class="admin-opt">Admin Credentials</a>
        </div>
    </div>
 </section>
{% endblock %}
