<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manage Samples</title>
  <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
      <h1 class="admin-projects-h">Sample Management</h1>
    <section class="addproject-sec">
      <div class="addproject-container">
        <h3 class="addproject-h">Add a Sample</h3>
        <form method="POST" enctype="multipart/form-data" class="addproject-form">
            <input type="text" name="title" placeholder="Sample Title" required>
            <textarea name="description" placeholder="Description" required></textarea>
            <label for="file-upload" class="file-upload-btn">📂 Upload Image</label>
            <input type="file" name="image" id="file-upload">
            <button class="addproject-btn">Add</button>
        </form>
      </div>
    </section>
    <section class="allprojects-sec">
      <h3 class="allprojects-h" style="color: white;">All Samples</h3>
        <!-- Projects Grid ( boxes ) -->
      <div class="projects-grid">
      {% for s in samples %}
        <article class="card">
            <div class="image-container">
              <img src="{{s[3]}}" alt="">
            </div>
            <div class="card-body">
              <span class="project-title">{{ s[1] }}</span>
              <span class="project-desc">{{ s[2] }}</span>
              <div class="action-btns">
                <a href="/edit_sample/{{s[0]}}" class="edit-btn">Edit</a>
                <a href="/delete_sample/{{s[0]}}" class="delete-btn">Delete</a>
              </div>
              <span style="color: black;">ID : {{s[0]}}</span>
            </div>
        </article>
        {% endfor %}
      </div>

    </section>
</body>
</html>
