<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change Credentials</title>
  <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
  <section class="admin-credentials-sec">
    <div class="admin-credentials-container">
          <h3 class="admin-credentials-h">Change Admin Credentials</h3>
          <form method="POST" class="admin-credentials-form">
              <input type="text" name="username" placeholder="New Username" required>
              <input type="password" name="password" placeholder="New Password" required>
              <button class="admin-credentials-btn">Update</button>
          </form>
    </div>
  </section>
</body>
</html>
