<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change Credentials</title>
  <link rel="stylesheet" href="../static/css/admin-credentials.css">
</head>
<body>
  <section class="admin-credentials-sec">
    <div class="admin-credentials-container">
          <h3 class="admin-credentials-h">Change Admin Credentials</h3>
          <form method="POST" class="admin-credentials-form">
              <input type="text" name="username" placeholder="New Username" required>
              <input type="password" name="password" placeholder="New Password" required>
              <button class="admin-credentials-btn">Update</button>
          </form>
    </div>
  </section>
<!-- <div class="container py-5">
  <h2>Change Admin Credentials</h2>
  <form method="POST">
    <div class="mb-3">
      <input type="text" name="username" placeholder="New Username" class="form-control" required>
    </div>
    <div class="mb-3">
      <input type="password" name="password" placeholder="New Password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div> -->
</body>
</html>
