{% extends "base.html" %}
{% block content %}
<h3 class="adp-h">Admin Panel</h3>
<section class="admin-panel-sec">
  <div class="addproject-container">
    <h3 class="addproject-h">Add a Project</h3>
    <form action="" method="POST" class="addproject-form">
        <input type="text" name="title" placeholder="Project Title" required>
        <textarea name="description" placeholder="Description" required></textarea>
        <label for="file-upload" class="file-upload-btn">📂 Upload Image</label>
        <input type="file" name="image" id="file-upload">
        <button class="addproject-btn">Add</button>
        
    </form>
</div>
</section>

<h2>Projects</h2>
<ul>
  {% for p in projects %}
    <li>{{ p[1] }} - <a href="/delete/{{ p[0] }}">Delete</a></li>
  {% endfor %}
</ul>

<h2>Messages</h2>
<ul>
  {% for m in messages %}
    <li>{{ m[1] }} ({{ m[2] }}): {{ m[3] }}</li>
  {% endfor %}
</ul>

<a href="/logout">Logout</a>
{% endblock %}
