<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Messages</title>
   <link rel="stylesheet" href="../static/css/admin-messages.css">
</head>
<body>
<div class="admin-msg-container">
  <h2>Messages</h2>
  <table class="msg-table">
    <tr>
      <th>ID</th><th>Name</th><th>Email</th><th>Message</th>
    </tr>
    {% for m in messages %}
    <tr>
      <td>{{m[0]}}</td>
      <td>{{m[1]}}</td>
      <td>{{m[2]}}</td>
      <!-- <td>{{m[3]}}</td> -->
       <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur iusto rem repellat harum molestias provident odio? Cumque, natus sit asperiores quae suscipit eligendi exercitationem quas assumenda ea ducimus, quo iure?
       </td>
    </tr>
    {% endfor %}
  </table>
</div>
</body>
</html>
