<!DOCTYPE html>
<html>
<head>
  <title>ClariZen Studio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
  <header>
    <div class="nav-container">
      <a href="#">
        <div class="logo">
        <img src="../static/images/singlelogo.png" alt="" height="40px">
        <img class="logoline" src="../static/images/logoline.png" alt="" height="40px">
      </div>
      </a>
        <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
      <nav id="nav">
        <a href="#vision-cont">About</a>
        <a href="#services">Services</a>
        <a href="#samples">Samples</a>
        <a href="#projects">Projects</a>
        <a class="contact-btn" href="#contact">Contact Us</a>
      </nav>
        
    </div>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
