{% extends "base.html" %}
{% block content %}
<h4 class="contact-page-h4">Have a question or want to collaborate? Drop a message — We willl reply soon.</h4>
<section class="contact-page-sect">
  <div class="contact-form-container">
    <form action="" method="POST" class="contact-form">
    <input type="text" name="first name" placeholder="First Name" required>
    <input type="text" name="second name" placeholder="Second Name" required>
    <input type="email" name="email" placeholder="Enter your Email" required>
    <textarea name="message" placeholder="Message or Order" required></textarea>
    <button class="contact-form-btn">Submit</button>
  </form>
  </div>
</section>
{% endblock %}
