<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Sample</title>
  <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
    <section class="edit-sec">
      <div class="edit-container">
        <h3 class="edit-h">Edit Sample</h3>
        <form method="POST" enctype="multipart/form-data" class="edit-form">
            <input type="text" name="title" value="{{sample[1]}}" placeholder="Sample Title" required>
            <textarea name="description" placeholder="Description" required>{{sample[2]}}</textarea>
            <div class="form-div">
              <label for="file-upload" class="file-upload-btn">📂 Upload Image</label>
              <input type="file" name="image" id="file-upload">
              <small><img src="{{sample[3]}}" width="100"></small>
            </div>
            <button class="update-btn">Update Sample</button>
        </form>
      </div>
    </section>
</body>
</html>
